<h1>Exercises for {{ title }}</h1>

<br />
<div class="container">

  <div class="marked">
    <textarea name="markdown" id="markdown" cols="30" rows="10">

    </textarea>
    <button>Convert</button>
  </div>

  <div class="html">
    <textarea name="html" id="html" cols="30" rows="10"></textarea>
    <button>Save</button>
  </div>

</div>